<footer class="footer is-fixed-bottom" style="background-image: url('{{#if @site.cover_image}}{{img_url @site.cover_image}}{{else}}{{asset "img/header-image.jpg"}} {{/if}}')">
  <div class="container">
    <div class="has-text-centered">
      <p class="has-text-centered">
        {{date format="YYYY"}} | <strong>Spectrum Theme</strong> {{t "FOOTER-BY"}} <a href="https://voidnull.es">Jesús Camacho</a>.
        {{{t "FOOTER-LICENSE {GPL}" GPL="<a href=\"https://www.gnu.org/licenses/gpl-3.0.en.html\">GPL</a>"}}}
      </p>
    </div><!-- . -->
  </div><!-- container -->
</footer><!-- .footer -->
<div class="container-fluid footer-with-love has-text-centered">
  <p class="has-text-centered is-uppercase">
      {{{t "FOOTER-WITH-LOVE {HEART}" HEART="<i class=\"fa fa-heart\" aria-hidden=\"true\"></i>"}}}
  </p>
</div><!-- .footer-with-love -->
