<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="manifest" href="/assets/img/manifest.json">
<link rel="shortcut icon" href="/assets/img/favicon.ico">
