<nav id="spectrum-navbar" class="navbar is-white">

  <div class="navbar-brand">
    {{#if @site.logo}}
      <a class="navbar-item has-text-weight-bold" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" width="112" height="28" /></a>
    {{else}}
      <a class="navbar-item has-text-weight-bold" href="{{@site.url}}">{{@site.title}}</a>
    {{/if}}

    <div class="navbar-burger burger" data-target="spectrumNavbar">
      <span></span>
      <span></span>
      <span></span>
    </div><!-- .navbar-burger -->
  </div><!-- .navbar-brand -->

  <div id="spectrumNavbar" class="navbar-menu">
    <div class="navbar-end item-effect">
      {{navigation}}
    </div><!-- .navbar-end -->
  </div><!-- #spectrumNavbar -->

  {{#is "post, page, author"}}
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div><!-- .progress-container -->
  {{/is}}

</nav><!-- #spectrum-navbar -->

<div class="navbar-false hidden"></div><!-- .navbar-false -->
