{{#foreach navigation}}
  <a class="navbar-item nav-{{slug}}{{#if current}} nav-current{{/if}} {{#is "home"}}nav-current{{/is}}" href="{{url absolute="true"}}">
    {{label}}
  </a><!-- .navbar-item -->
{{/foreach}}

<div class="navbar-item has-dropdown is-hidden-mobile">
  <a class="navbar-item">
    {{t "FOLLOW-ME"}}
  </a><!-- .navbar-link -->

  <div class="navbar-dropdown is-right">
    {{> social}}
  </div><!-- .navbar-dropdown -->
</div><!--- navbar-item -->
