<div class="post-article-meta is-uppercase">
    <span class="post-meta-author">{{authors}}</span> | <span class="post-meta-date">{{date format="DD MMM YYYY"}}</span> | <span class="post-meta-reading-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
</div><!-- .post-article-meta -->

<div class="post-article-title">
  <h1 class="title is-uppercase has-text-weight-bold">{{title}}</h1>
</div><!-- .post-article-title -->

<div class="post-article-info is-uppercase">
  <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> |
  {{#primary_author}}
    <a href="{{url}}">{{name}}</a>
  {{/primary_author}}
</div><!-- .card-info -->

<div class="post-article-content">
  {{content}}
</div><!-- .card-content -->

<div class="post-article-author">
    {{> post-article-author}}
</div><!-- .card-author -->

<footer class="post-footer">
    <div class="columns">
        <div class="column">
            <div class="post-article-tags">
              {{tags separator=" " limit="3"}}
            </div><!-- .card-tags -->
        </div><!-- .column -->

        <div class="column has-text-right">
             {{> share}}
        </div><!-- .column -->
    </div><!-- .columns -->
</footer><!-- .post-footer -->
