<nav class="pagination" role="navigation" aria-label="pagination">
  {{#if prev}}
    <a rel="next" class="pagination-next posts newer btn small" href="{{page_url prev}}#open">{{t "NEXT"}}</a>
  {{/if}}

  {{#if next}}
    <a rel="prev" class="pagination-previous posts older btn small" href="{{page_url next}}#open">{{t "PREVIOUS"}}</a>
  {{/if}}
</nav><!-- .pagination -->

{{#if next}}
<div class="scroller-status">
  <div class="infinite-scroll-request loader-ellips">
    <p class="has-text-weight-bold has-text-centered">{{t "LOADING-POST"}}</p>
  </div><!-- .infinite-scroll-request -->

  <p class="infinite-scroll-last has-text-centered has-text-weight-bold">{{t "END-OF-CONTENT"}}</p>
  <p class="infinite-scroll-error has-text-centered has-text-weight-bold">{{t "NO-MORE-PAGES-TO-LOAD"}}</p>
</div><!-- .scroller-status -->
{{/if}}
