{{#primary_author}}
  <div class="card-author-title has-text-centered has-text-weight-bold">{{t "WRITTEN-BY"}}</div><!-- .card-author-title -->
  <div class="card-author-info">
    <img class="author-avatar" src="{{profile_image}}" alt="{{name}}'s avatar" />
    <h2 class="author-title is-uppercase">
        <a href="{{url}}">{{name}}</a>
    </h2>
    <p class="author-description has-text-left">{{bio}}</p>
    <p class="author-links is-uppercase is-hidden-mobile">
      {{#if location}}
        <span class="author-location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{location}}
        </span><!-- .author-location -->
      {{/if}}
      {{#if website}}
        <span class="author-website">
          <i class="fa fa-link" aria-hidden="true"></i>
          <a href="{{website}}">{{website}}</a>
        </span><!-- .author-website -->
      {{/if}}
      {{#if twitter}}
        <span class="author-twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <a href="{{twitter_url}}">{{twitter}}</a>
        </span><!-- .author-twitter -->
      {{/if}}
      {{#if facebook}}
        <span class="author-facebook">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <a href="{{facebook_url}}">Facebook</a>
        </span><!-- .author-facebook -->
      {{/if}}
    </p><!-- .author-links -->
  </div><!-- .card-author-info -->
{{/primary_author}}
