<div class="post-article-meta is-uppercase">
    <span class="post-meta-author">{{authors}}</span> | <span class="post-meta-date">{{date format="DD, MMMM YYYY"}}</span> | <span class="post-meta-reading-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
</div><!-- .post-article-meta -->

<div class="post-article-title">
  <h1 class="title is-uppercase has-text-weight-bold">{{title}}</h1>
</div><!-- .post-article-title -->

<div class="post-article-content">
  {{content}}
</div><!-- .card-content -->

<footer class="post-footer">
    <div class="columns">
        <div class="column">
            <div class="post-article-tags">
              {{tags separator=" " limit="3"}}
            </div><!-- .card-tags -->
        </div><!-- .column -->

        <div class="column has-text-right">
             <div class="post-article-share">
                 {{> share}}
             </div>
        </div><!-- .column -->
    </div><!-- .columns -->
</footer><!-- .post-footer -->

<div class="post-article-author">
    {{> post-article-author}}
</div><!-- .card-author -->

<div class="post-article-comments">
  {{> post-article-comments}}
</div><!-- .card-comments -->

<div class="post-article-subscriber">
  {{#if @labs.subscribers}}
      <a href="{{@site.url}}/subscribe" class="m-button filled">Subscribe</a>
      {{/if}}
</div>
