    <h2 class="title is-uppercase has-text-weight-bold show-comments" value='hide/show'>
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{t "COMMENTS"}}
    </h2>
    <div id="isso-thread" class="open-comments hidden"></div><!-- #isso-thread -->
