<article class="card-article {{post_class}}">
    <div class="card-post" style="background-image: url('{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "img/default-thumb.png"}} {{/if}}')">
        <div class="card-overlay">
            <div class="float-top has-text-right">
              {{> share}}
            </div><!-- .float-top -->

            <div class="card-info has-text-centered">
                <div class="separator"></div>
                <a href="{{url}}">
                    <h3 class="is-uppercase">{{title}}</h3>
                </a>
                <div class="card-info-category is-uppercase">
                    {{tags limit="1"}}
                </div><!-- .card-info-category -->
            </div><!-- .card-info -->

            <div class="float-bottom has-text-left">
                {{#primary_author}}
                    <a class="card-info-author is-uppercase" href="{{url}}">
                        <div class="author-avatar" style="background-image: url('{{#if profile_image}}{{img_url profile_image}}{{else}}{{asset "img/default-avatar.png"}} {{/if}}')"></div>
                        {{name}}
                    </a>
                {{/primary_author}}
            </div><!-- .float-bottom -->
        </div><!-- .card-overlay -->
    </div><!-- .card-post -->
</article><!-- article -->
