<!-- FACEBOOK -->
<a class="icon fas fb has-text-centered" href="https://www.facebook.com/sharer/sharer.php?u={{@site.url}}{{url}}&t={{title}}" target="_blank" title="{{title}}" >
  <i class="fa fa-facebook" aria-hidden="true"></i>
</a>
<!-- TWITTER -->
<a class="icon fas tw has-text-centered" href="https://twitter.com/intent/tweet?url={{@site.url}}{{url}}&text={{title}}" target="_blank" title="{{title}}">
  <i class="fa fa-twitter" aria-hidden="true"></i>
</a>
<!-- EMAIL -->
<a class="icon fas em has-text-centered" href="mailto:?subject={{title}}&body={{excerpt}}:{{@site.url}}{{url}}" target="_blank" title="{{title}}">
  <i class="fa fa-envelope" aria-hidden="true"></i>
</a>
<!-- TELEGRAM -->
<a class="icon fas tg has-text-centered" href="https://telegram.me/share/url?url={{@site.url}}{{url}}" target="_blank" title="{{title}}">
  <i class="fa fa-telegram" aria-hidden="true"></i>
</a>
<!-- GNU SOCIAL -->
<a class="icon fas gs has-text-centered" data-target="modal-gnusocial" aria-haspopup="true" title="{{title}}">
  <i class="fa fa-gnu-social" aria-hidden="true"></i>
</a>

<!-- MODAL FOR GNU SOCIAL -->
<div id="modal-gnusocial" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="field">
      <label class="label has-text-bold has-text-left is-uppercase">{{t "URL-NODE"}}</label>
      <div class="control">
        <input id="gs-node" class="input" type="text" placeholder="https://">
      </div><!-- .control -->
      <p class="help">{{{t "URL-NODE-HELP {URL-NODE-REAL}" URL-NODE-REAL="https://gnusocial.net"}}}
      </p>
    </div><!-- .field -->

    <div class="field">
      <label class="label has-text-bold has-text-left is-uppercase">{{t "MESSAGE"}}</label>
      <div class="control">
        <input id="gs-msg" class="input" type="text" placeholder="Wow! Read this!">
      </div>
      <p class="help">{{t "MESSAGE-HELP"}}</p>
    </div><!-- .field -->

    <div class="field">
      <label class="label has-text-bold has-text-left is-uppercase">{{t "URL-SHARE"}}</label>
      <div class="control">
        <input id="gs-url" class="input" type="text" placeholder="{{@site.url}}{{url}}" disabled>
      </div><!-- .control -->
    </div><!-- .field -->

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-spectrum" onclick="gsShare();">{{t "BUTTON-SEND"}}</button>
      </div><!-- .control -->
    </div><!-- .field -->
  </div><!-- .modal-content -->
  <button class="modal-close is-large" aria-label="close"></button>
</div><!-- #modal-gnusocial -->

<!-- DIASPORA* -->
<a class="icon fas dp has-text-centered" data-target="modal-diaspora" aria-haspopup="true" title="{{title}}">
  <i class="fa fa-diaspora" aria-hidden="true"></i>
</a>

<!-- MODAL FOR DIASPORA -->
<div id="modal-diaspora" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="field">
      <label class="label has-text-bold has-text-left is-uppercase">{{t "URL-NODE"}}</label>
      <div class="control">
        <input id="dp-node" class="input" type="text" placeholder="https://">
      </div><!-- .control -->
      <p class="help"><p class="help">{{{t "URL-NODE-HELP {URL-NODE-REAL-DP}" URL-NODE-REAL-DP="https://diasp.org"}}}</p>
    </div><!-- .field -->

    <div class="field">
      <label class="label has-text-bold has-text-left is-uppercase">{{t "MESSAGE"}}</label>
      <div class="control">
        <input id="dp-msg" class="input" type="text" placeholder="Wow! Read this!">
      </div>
      <p class="help">{{t "MESSAGE-HELP"}}</p>
    </div><!-- .field -->

    <div class="field">
      <label class="label has-text-bold has-text-left is-uppercase">{{t "URL-SHARE"}}</label>
      <div class="control">
        <input id="dp-url" class="input" type="text" placeholder="{{@site.url}}{{url}}" disabled>
      </div><!-- .control -->
    </div><!-- .field -->

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-spectrum" onclick="dpShare();">{{t "BUTTON-SEND"}}</button>
      </div><!-- .control -->
    </div><!-- .field -->
  </div><!-- .modal-content -->
  <button class="modal-close is-large" aria-label="close"></button>
</div><!-- #modal-gnusocial -->
