<!-- See more: https://forkawesome.github.io/Fork-Awesome/ -->
<a class="navbar-item has-rss" href="{{@site.url}}/rss" target="_blank">
  <span class="icon">
    <i class="fa fa-rss" aria-hidden="true"></i>
  </span>
  {{t "SUBSCRIBE-RSS"}}
</a>


<a class="navbar-item has-gnusocial" href="#" target="_blank">
  <span class="icon">
    <i class="fa fa-gnu-social" aria-hidden="true"></i>
  </span>
  GNU Social
</a>

<a class="navbar-item has-twitter" href="#" target="_blank">
  <span class="icon">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </span>
  Twitter
</a>

<a class="navbar-item has-gitlab" href="#" target="_blank">
  <span class="icon">
    <i class="fa fa-gitlab" aria-hidden="true"></i>
  </span>
  GitLab
</a>

<a class="navbar-item has-wordpress" href="#" target="_blank">
  <span class="icon">
    <i class="fa fa-wordpress" aria-hidden="true"></i>
  </span>
  WordPress
</a>
