{{!< default}}

{{#primary_author}}
<header>
	<section class="hero author-hero is-medium">
		<div class="hero-body">
			<div class="container">
				<div class="hero-info">
					<img class="author-avatar" src="{{profile_image}}" alt="{{name}}'s avatar" />
					<h1 class="title has-text-centered is-uppercase">{{name}}</h1>
					<h2 class="subtitle has-text-centered has-text-weight-bold">{{bio}}</h2>
					{{#if location}}
						<span class="author-location">
			        <i class="fa fa-map-marker" aria-hidden="true"></i>
			        {{location}}
			      </span><!-- .author-location -->
					{{/if}}
						<span class="autor-stats">
							<i class="fa fa-bar-chart"></i>
							{{plural ../pagination.total empty=(t "PAG-TOTAL-NO-POST") singular=(t "PAG-TOTAL-SINGULAR") plural=(t "% PAG-TOTAL-PLURAL")}}
						</span><!-- .autor-stats -->
					{{#if twitter}}
						<span class="author-twitter">
			        <i class="fa fa-twitter" aria-hidden="true"></i>
			        <a href="{{twitter_url}}">{{twitter}}</a>
			      </span><!-- .author-twitter -->
					{{/if}}
					{{#if facebook}}
			      <span class="author-facebook">
			        <i class="fa fa-facebook" aria-hidden="true"></i>
			        <a href="{{facebook_url}}">Facebook</a>
			      </span><!-- .author-facebook -->
					{{/if}}
				</div><!-- .hero-info -->
			</div><!-- .container -->
			<div class="hero-img" style="background-image: url('{{#if cover_image}}{{cover_image}}{{else}}{{asset "img/header-image.jpg"}} {{/if}}')"></div>
		</div><!-- .hero-body -->
	</section><!-- .hero -->
</header>
{{/primary_author}}

<div class="container">
	<section class="article">
		<div class="columns is-multiline">
			{{#foreach posts}}
				<div class="column is-half">
					<div class="post-card">

						{{> "post-card"}}

					</div><!-- .post-card -->
				</div><!-- .column -->
			{{else}}
				<div class="notification is-background-theme">
					<p class="has-text-centered is-uppercase has-text-weight-bold">{{t "NO-POST-AUTHOR"}}</p>
				</div><!-- .notification -->
			{{/foreach}}
		</div><!-- .columns .is-multiline -->
	</section><!-- .article -->
</div><!-- .container -->

<section class="footer-section">
	<div class="container">
		{{pagination}}
	</div><!-- .container -->
</div><!-- .footer-section -->
