<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>
    <title>{{meta_title}}</title>
    {{> meta}}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{@site.icon}}">

    <!-- STYLES & FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.0/css/fork-awesome.min.css" integrity="sha256-sX8HLspqYoXVPetzJRE4wPhIhDBu2NB0kYpufzkQSms=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/colors/yellow.css"}}" />

    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    {{> nav}}

    <main id=page>
      <section class="inner">
        {{{body}}}
        {{> footer}}
      </section><!-- .inner -->
    </main><!-- #page -->

    {{ghost_foot}}

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script type="text/javascript" src="{{asset "js/TweenLite.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/EasePack.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>
    {{> analytics}}
    {{#is "post, page"}}
    <script data-isso="https://isso.entrebits.org/" data-isso-lang="es" data-isso-css="false" data-isso-avatar-bg="#1A1A1A" data-isso-avatar-fg="#FFD32A" src="https://isso.entrebits.org/js/embed.min.js"></script>
    {{/is}}
    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>
  </body>
</html>
