<!DOCTYPE html>
<html class="error-page" lang="{{@site.lang}}">
  <head>
    <title>{{t "404-TITLE-PAGE"}} - {{meta_title}}</title>
    {{> meta}}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{@site.icon}}">

    <!-- STYLES & FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/error404.css"}}" />

    {{ghost_head}}
  </head>

  <body class="error404-bkg {{body_class}}">
    <main id=page>
      <section class="inner">
        <div id="clouds">
          <div class="cloud cloud-x1"></div>
          <div class="cloud cloud-x1-5"></div>
          <div class="cloud cloud-x2"></div>
          <div class="cloud cloud-x3"></div>
          <div class="cloud cloud-x4"></div>
          <div class="cloud cloud-x5"></div>
        </div><!-- #clouds -->
        <div class="error-message">
          <div class="error-message-404">404</div>

          <div class="error-message-page">{{t "404-THE-PAGE"}}</div>
          <div class="error-message-not-found">{{t "404-NOT-FOUND"}}</div>
          <a class="btn is-spectrum" href="{{@site.url}}">{{t "404-BACK-TO"}} {{@site.title}}</a>
        </div><!-- .error-message -->
      </section><!-- .inner -->
    </main><!-- #page -->

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{asset "js/main.min.js"}}"></script>

    {{> analytics}}
  </body>
</html>
