{{!< default}}

{{#post}}
<section class="hero hero-page is-info is-small is-bold">
	<div class="hero-body hero-img parallax" style="background-image: url('{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "img/default-thumb.png"}} {{/if}}');"></div>

	<a id="scroll-to-content" class="article-cover-arrow">
		<span></span>
		{{t "SHOW-MORE"}}
	</a><!-- #scroll-to-content -->
</section><!-- .hero -->

<div class="container">
	<section class="page-article to-scroll-meta">
		<div class="column is-8 is-offset-2">
			<article class="page-article-full {{post_class}}">

				{{> "page-article"}}

			</article>
		</div><!-- column -->
	</section><!-- .article -->
</div><!-- .container -->
{{/post}}
