{{!< default}}

{{#post}}
<section class="demo-1 hero hero-post is-info is-small is-bold">

	<div id="particle-header" class="hero-body hero-img parallax" style="background-image: url('{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "img/default-thumb.png"}} {{/if}}');">
		<canvas id="particle-canvas"></canvas>
	</div>

	<a id="scroll-to-content" class="article-cover-arrow">
		<span></span>
		{{t "SHOW-MORE"}}
	</a><!-- #scroll-to-content -->
</section><!-- .hero -->

<div class="container">
	<section class="post-article to-scroll-meta">
		<div class="column is-8 is-offset-2">
			<article class="post-article-full {{post_class}}">

				{{> "post-article"}}

			</article>
		</div><!-- column -->
	</section><!-- .article -->
</div><!-- .container -->
{{/post}}
