{{!< default}}

{{#tag}}
<header>
	<section class="hero tag-hero is-medium">
		<div class="hero-body">
			<div class="container">
				<div class="hero-info">
					<h1 class="title has-text-centered is-uppercase">{{name}}</h1>
					<h2 class="subtitle has-text-centered has-text-weight-bold">{{description}}</h2>
				</div><!-- .hero-info -->
			</div><!-- .container -->
			<div class="hero-img" style="background-image: url('{{#if feature_image}}{{feature_image}}{{else}}{{asset "img/header-image.jpg"}} {{/if}}')"></div>
		</div><!-- .hero-body -->
	</section><!-- .hero -->
</header>
{{/tag}}

<div class="container">
	<section class="article">
		<div class="columns is-multiline">
			{{#foreach posts}}
				<div class="column is-half">
					<div class="post-card">

						{{> "post-card"}}

					</div><!-- .post-card -->
				</div><!-- .column -->
			{{else}}
				<div class="notification is-background-theme">
					<p class="has-text-centered is-uppercase has-text-weight-bold">{{t "NO-POST-TAG"}}</p>
				</div><!-- .notification -->
			{{/foreach}}
		</div><!-- .columns .is-multiline -->
	</section><!-- .article -->
</div><!-- .container -->

<section class="footer-section">
	<div class="container">
		{{pagination}}
	</div><!-- .container -->
</div><!-- .footer-section -->
