/*
Theme Name: Spectrum Purple
Theme URI: https://gitlab.com/t3rr0rz0n3/spectrum
Author: Jesús Camacho
Author URI: http://voidnull.es
Description: Another Ghost CMS theme
License: GNU Public Licence version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

/* PALETE
URL: https://coolors.co/ffffff-000000-1a1a1a-212121-3C40C6
*/

/* GLOBAL */
.is-color-theme {
  color: #3C40C6;
}

.is-background-theme {
  background-color: #3C40C6;
}

a {
  text-decoration: none;
  color: #3C40C6;
}

a:hover,
a:active {
  color: #575FCF;
}

code {
  background-color: #3C40C6;
  color: #FFF;
}

pre {
  border-top-color: #3C40C6;
}

blockquote p {
  border-left-color: #3C40C6;
}

/* NAVBAR */
.item-effect > a::after,
.item-effect .has-dropdown > a::after {
  background-color: #3C40C6;
}

/* HOME PAGE */
.card-article {
  border-bottom-color: #3C40C6;
}

.navbar.is-white .navbar-brand > a.navbar-item:hover {
  color: #3C40C6;
  transition: .5s all;
}

/* POST PAGE */
.post-template .post-article-author .card-author-title {
  background-color: #3C40C6;
  color: #FFF;
  border: 2px solid #1A1A1A;
}

/* AUTHOR PAGE */
.author-template .hero-info img {
  box-shadow: 0 0 0 6px rgba(60, 64, 198,.5);
}

/* PROGRESS BAR */
.progress-bar {
  background-color: #3C40C6;
}

/* ERROR PAGE */
.error404-bkg {
  background-color: #3C40C6;
  color: #1A1A1A;
}

hr:after {
  background-color: #3C40C6;
}
