a {
  text-decoration: underline;
  color: #212121;
}

a:hover,
a:active {
  color: #616161;
}

.is-spectrum {
  border: 3px solid #1A1A1A;
  border-radius: 0px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
  transition: .5s all;
}

.is-spectrum:hover {
  border-color: #1A1A1A;
  color: #FFF;
  background-color: #1A1A1A;
  transition: .5s all;
}

/* ERROR 404 */
html.error-page {
  overflow-y: hidden!important;
}

.error404-bkg {
  background: #FFF59D;
  color: #1a1a1a;
  height: 100vh;
  overflow: hidden;
  font-family: 'Share Tech Mono', monospace;
}

.error-message {
  text-align: center;
  display: block;
  position: relative;
  width: 80%;
  margin: 150px auto;
}

.error-message-404 {
  font-size: 220px;
  position: relative;
  display: inline-block;
  z-index: 2;
  height: 240px;
  letter-spacing: 15px;
}

.error-message-page {
  text-align: center;
  display: block;
  position:relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 60px;
  margin-top: 10px;
  text-transform: uppercase;
}

.error-message-not-found {
  text-align: center;
  display: block;
  position: relative;
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 10px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.btn {
  background-color: #FFF;
  position: relative;
  display: inline-block;
  width: 358px;
  padding: 5px;
  z-index: 5;
  font-size: 25px;
  margin:0 auto;
  text-decoration: none;
  margin-right: 10px
}

.cloud {
  width: 350px; height: 120px;
  background: #FFF;
  background: linear-gradient(top, #FFF 100%);
  background: -webkit-linear-gradient(top, #FFF 100%);
  background: -moz-linear-gradient(top, #FFF 100%);
  background: -ms-linear-gradient(top, #FFF 100%);
  background: -o-linear-gradient(top, #FFF 100%);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  position: absolute;
  margin: 120px auto 20px;
  z-index:11111;
  transition: ease 1s;
}

.cloud:after,
.cloud:before {
  content: '';
  position: absolute;
  background: #FFF;
  z-index: -1;
}

.cloud:after {
  width: 100px; height: 100px;
  top: -50px; left: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.cloud:before {
  width: 180px; height: 180px;
  top: -90px; right: 50px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

.cloud-x1 {
  top:-50px;
  left:100px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0.9;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

.cloud-x1-5 {
  top:-80px;
  left:250px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-animation: moveclouds 17s linear infinite;
  -moz-animation: moveclouds 17s linear infinite;
  -o-animation: moveclouds 17s linear infinite;
}

.cloud-x2 {
  left: 250px;
  top:120px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.cloud-x3 {
  left: 250px;
  bottom: -30px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.8;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.cloud-x4 {
  left: 470px; botttom: 20px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  z-index: 0;
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.cloud-x5 {
  left: 200px; top: 300px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.8;
  z-index: 0;
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}

/* RESPONSIVE */
@media (max-width: 1084px) {

}

@media (max-width: 990px) {

}

@media (max-width: 760px) {
  .error-message-404 {
    font-size: 180px;
  }
  .error-message-page {
    font-size: 2.8em;
  }
  .error-message-not-found {
    letter-spacing: 6px;
  }
  .is-spectrum {
    width: 300px;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .error-message-404 {
    font-size: 120px;
    height: 160px;
  }
  .error-message-page {
    font-size: 1.6em;
  }
  .error-message-not-found {
    font-size: 16px;
  }
  .is-spectrum {
    width: 300px;
    font-size: 16px;
  }
  @-webkit-keyframes moveclouds {
    0% {margin-left: 500px;}
    100% {margin-left: -500px;}
  }
  @-moz-keyframes moveclouds {
    0% {margin-left: 500px;}
    100% {margin-left: -500px;}
  }
  @-o-keyframes moveclouds {
    0% {margin-left: 500px;}
    100% {margin-left: -500px;}
  }
}

@media (max-width: 500px) {

}

@media (max-width: 400px) {

}
