/*
Theme Name: Spectrum
Theme URI: https://gitlab.com/t3rr0rz0n3/spectrum
Author: Jesús Camacho
Author URI: http://voidnull.es
Description: Another Ghost CMS theme
Version: 1.8.1
License: GNU Public Licence version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

/* PALETE
URL: https://coolors.co/f2f3f5-1a1a1a-ffd32a-171717-FFFFFF

White: #f2f3f5
Black: #1a1a1a
Yellow: #ffd32a
Dark: ##171717
*/

/*
+ GLOBAL
+ NAVBAR
+ NAVBAR SOCIAL
+ HOME TEMPLATE
+ HEADER-{HOME,AUTHOR,TAG,PAGE}
+ POST CARD
+ POST
+ POST HEADER
+ POST ARTICLE
+ POST ARTICLE SHARE
+ POST ARTICLE AUTHOR
+ POST ARTICLE COMMENTS
+ PAGE

+ SCROLL INFINITE
+ PROGRESS BAR

+ FOOTER

+ RESPONSIVE
*/

/*  GLOBAL */
body {
  background-color: #F2F3F5;
}

a {
  text-decoration: underline;
  color: #171717;
}

a:hover,
a:active {
  color: #616161;
}

p {
  line-height: 2em;
  text-align: justify;
  font-family: 'Share Tech Mono', monospace;
  margin-bottom: 20px;
}

code {
  background-color: #1A1A1A;
  color: #FFF;
  opacity: .9;
  font-weight: bold;
}

pre {
  background-color: #1A1A1A;
  color: #FFF;
  margin-bottom: 20px;
  border-top-style: solid;
  border-top-width: 4px;
}

pre code {
  font-weight: normal;
}

blockquote {
  border-left: 10px solid #FFD32A;
  padding: 0px 0px 0px 30px;
  font-weight: lighter;
  font-size: 22px;
  text-align: left;
  color: #424242;
  margin-bottom: 25px;
  font-family: 'Share Tech Mono', monospace;
}

ul {
  list-style: square;
}

ul,
ol {
  padding: 15px;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

.is-spectrum {
  border: 3px solid #1A1A1A;
  border-radius: 0px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
  transition: .5s all;
}

.is-spectrum:hover {
  border-color: #1A1A1A;
  color: #FFF;
  background-color: #1A1A1A;
  transition: .5s all;
}

.hidden {
  display: none;
  transition: .5s all;
}

/* NAVBAR */
.item-effect > a::after,
.item-effect .has-dropdown > a::after {
    position: absolute;
    background-color: #1a1a1a;
	top: 90%;
	left: 0;
	width: 100%;
	height: 1px;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.item-effect > a:hover::after,
.item-effect > a:focus::after,
.item-effect .has-dropdown > a:hover::after,
.item-effect .has-dropdown > a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


.navbar-link::after {
  margin-top: -0.775em;
}

.navbar-brand .navbar-item {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 0.1em;
  font-size: 20px;
}

.navbar.is-white .navbar-brand .navbar-link.is-active,
.navbar.is-white .navbar-brand .navbar-link:hover,
.navbar.is-white .navbar-brand > a.navbar-item.is-active,
.navbar.is-white .navbar-brand > a.navbar-item:hover {
  background: transparent;
  color: #171717;
  transition: .5s all;
}

.navbar-item {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 1px;
  font-size: 14px;
}

.navbar-brand .navbar-item,
.navbar-item, .navbar-link {
  text-decoration: none;
}

.navbar-dropdown {
  border-radius: 0px;
  border-top: none;
  padding-bottom: 0px;
  padding-top: 0px;
}

.navbar.is-white .navbar-end > a.navbar-item:hover,
.navbar.is-white .navbar-end > a.navbar-item.is-active,
.navbar.is-white .navbar-end .navbar-link:hover,
.navbar.is-white .navbar-end .navbar-link.is-active,
.navbar.is-white .navbar-item.has-dropdown.is-active .navbar-link,
.navbar.is-white .navbar-item.has-dropdown:hover .navbar-link,
.navbar.is-white .has-dropdown a.navbar-item {
  background-color: transparent;
  color: #1A1A1A;
}

.navbar.is-white .navbar-item.has-dropdown:hover .navbar-link::after {
  border-color: #FFF;
}

.navbar-false {
  width: 100%;
  height: 52px;
}

#spectrum-navbar.is-transparent {
  background-color: transparent!important;
}

/* NAVBAR SOCIAL */
.navbar-dropdown .icon {
  font-size: 20px;
  margin-right: 10px !important;
  color: #1A1A1A;
  transition: .5seg;
}

.has-rss:hover,
.has-gnusocial:hover,
.has-twitter:hover,
.has-gitlab:hover,
.has-wordpress:hover,
.has-instagram:hover,
.has-rss:hover .icon,
.has-gnusocial:hover .icon,
.has-twitter:hover .icon,
.has-gitlab:hover .icon,
.has-wordpress:hover .icon,
.has-instagram:hover .icon {
  transition: .5seg;
  color: #FFF!important;
}

.has-rss:hover {
  background-color: #FF722C!important;
}

.has-gnusocial:hover {
  background-color: #B92B27!important;
}

.has-twitter:hover {
  background-color: #55ACEE!important;
}

.has-gitlab:hover {
  background-color: #EB4924!important;
}

.has-wordpress:hover {
  background-color: #21759B!important;
}

.has-instagram:hover {
  background-color: #E4405F!important;
}

/* HOME TEMPLATE */
.home-template .post-article {
  margin-top: 25px;
}

.notification {
  width: 100%;
  text-align: center;
  border-radius: 0px;
  border: 4px solid #1A1A1A;
  margin-bottom: 160px;
  background-color: #FFF;
}

.notification p {
  padding: 20px;
  margin: 0px;
  font-size: 20px;
}

/* HEADER-{HOME,AUTHOR,TAG,PAGE,PAGED} */
.home-hero, .author-hero,
.tag-hero, .hero-page {
  margin-bottom: 25px;
}

.home-template .hero-body,
.author-template .hero-body,
.tag-template .hero-body,
.page-template .hero-body,
.paged .hero-body {
  overflow: hidden;
  width: 100%;
  height: 450px;
  padding: 0px !important;
  background-color: #1A1A1A;
}

.author-template .hero-body,
.tag-template .hero-body,
.page-template .hero-body {
  height: 100vh;
}

.home-template .hero-img,
.author-template .hero-img,
.tag-template .hero-img,
.paged .hero-img {
  background-position: 50%;
  background-size:cover;
  background-repeat: no-repeat;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  animation: grow 45s linear 10ms infinite;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 10;
  filter: blur(1.5px);
}

.page-template .hero-img {
  background-position: 50%;
  background-size:cover;
  background-repeat: no-repeat;
}

.home-template .hero-info,
.author-template .hero-info,
.tag-template .hero-info,
.page-template .hero-info,
.paged .hero-info {
  text-align: center;
  padding: 30px;
  z-index: 9999;
  position: absolute;
  width: 100%;
}

.home-template .hero-info,
.tag-template .hero-info,
.page-template .hero-info,
.paged .hero-info {
  top: 150px;
}

.author-template .hero-info {
  top: 60px;
}

.home-template .hero-info h1,
.home-template .hero-info h2,
.author-template .hero-info h1,
.author-template .hero-info h2,
.author-template .hero-info span,
.author-template .hero-info span *,
.tag-template .hero-info h1,
.tag-template .hero-info h2,
.paged .hero-info h1,
.paged .hero-info h2 {
  color: #FFF;
  text-decoration: none;
}

.author-template .hero-info img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 0 0 6px hsla(0,0%,100%,.1);
}

.author-template .hero-info h1,
.tag-template .hero-info h1 {
  margin-top: 10px;
  letter-spacing: 1px;
}

.author-template .hero-info h2,
.tag-template .hero-info h2 {
  margin-top: 25px!important;
  font-size: 16px;
}

.author-template .hero-info span {
  margin-left: 10px;
}

@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}

/* POST CARD */
.card-article .card-post {
  position: relative;
  height: 350px;
  background-size: cover;
  background-repeat: no-no-repeat;
  background-position: center;
}

.card-article .card-overlay {
  background: rgba(15,15,15,.5);
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.card-article .card-overlay .float-top,
.card-article .card-overlay .float-bottom {
  opacity: 0;
  visibility: hidden;
  text-align: right;
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 25px;
  -webkit-transition:.35s all ease-in-out;
  -o-transition:.35s all ease-in-out;
  transition:.35s all ease-in-out;
}

.card-article .card-overlay .float-top {
  top: 0;
}

.card-article .card-overlay .float-top .icon {
  background-color: rgb(15, 15, 15);
  border-radius: 50%;
  padding: 20px;
  color: #FFF;
}

.card-article .card-overlay .float-top a.fb:hover {
  background-color: #3B5999;
}

.card-article .card-overlay .float-top a.tw:hover {
  background-color: #55ACEE;
}

.card-article .card-overlay .float-top a.em:hover {
  background-color: #F5F5F5;
  color: rgb(15, 15, 15);
}

.card-article .card-overlay .float-top a.tg:hover {
  background-color: #0088CC;
}

.card-article .card-overlay .float-top a.gs:hover {
  background-color: #A22430;
}

.card-article .card-overlay .float-top a.dp:hover {
  background-color: #333;
}

.card-article .card-overlay .float-bottom {
  bottom: 0;
}

.card-article .card-post:hover .float-top,
.card-article .card-post:hover .float-bottom {
  opacity: 1;
  visibility: visible;
  height: 100px;
}

.card-article .card-overlay .card-info {
  padding: 0 10%;
  width: 100%;
  text-align: center;
}

.card-article .card-overlay .card-info .separator {
  background-color: #FFD32A;
  content: "";
  width: 2.5em;
  height: 0.2em;
  margin: 1em auto;
}

.card-article .card-overlay .card-info h3 {
  color: #FFF;
  word-spacing: -0.35em;
  font-weight: bold;
}

.card-article .card-overlay .card-info h3:hover {
  color: #FFD32A;
  -webkit-transition:.35s all ease-in-out;
  -o-transition:.35s all ease-in-out;
  transition:.35s all ease-in-out;
}

.card-article .card-overlay .card-info .card-info-category a {
  color: #FFF;
}

.card-article .card-overlay .float-bottom .card-info-author {
  display: flex;
  align-items: center;
  color: #FFF
}

.card-article .card-overlay .float-bottom .card-info-author .author-avatar {
  background-size: cover;
  width: 2.8em;
  height: 2.8em;
  border-radius: 100%;
  margin-right: 1.25em;
}

/* POST */
.post-template .post-article-full {
  padding: 80px;
}

.post-template .post-article-full .post-article-content a {
    color: #1a1a1a;
    border-bottom: 1px solid #FFDD59;
    transition: all .5seg;
}
.post-template .post-article-full .post-article-content a:hover {
    color: #171717;
    border-bottom: 2px solid #FFDD59;
    transition: all .5seg;
}

img[src$="#full"],
.kg-image-card .kg-image-full,
.kg-width-full .kg-image {
  width: 100vw;
  max-width: none;
}

.kg-image-card .kg-image-wide,
.kg-width-wide .kg-image {
  width: 50vw;
  max-width: none;
}

.kg-image-card,
.kg-gallery-card {
    margin: 0 0 1.5em;
}

.kg-image-card figcaption,
.kg-gallery-card figcaption {
    margin: -1.0em 0 1.5em;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em auto;
    max-width: 1040px;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}


/* POST HEADER */
.post-template .parallax {
  height: 400px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.post-template .hero-img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.post-template .hero-img {
  height: 95vh;
}

.post-template .hero {
  position: relative;
}

.post-template .hero-post .article-cover-arrow {
  position: absolute;
  bottom: 60px;
  z-index: 4;
  line-height: 1;
  cursor: pointer;
  padding-top: 60px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.post-template .hero-post .article-cover-arrow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #FFF;
  border-radius: 50px;
  transition: .5s all;
}

.post-template .hero-post .article-cover-arrow span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: arrow 2s infinite;
  animation: arrow 2s infinite;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

 #particle-header {
     display: inherit;
 }

/* POST ARTICLE */
.post-template .post-article-meta,
.page-template .post-article-meta {
    font-size: 12px;
    margin-bottom: 20px;
}

.post-template .post-article-title,
.page-template .post-article-title {
  margin-bottom: 20px;
}

.post-template .post-article-title h1,
.page-template .post-article-title h1 {
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 1px;
  font-size: 42px;
  position: relative;
  margin-bottom: 50px;
}

.post-template .post-article-title h1::before,
.page-template .post-article-title h1::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.5em;
    margin-bottom: 0px;
    border-bottom: 4px solid #ffd32a;
    bottom: -0.7em;
}

.post-template .post-article-content,
.page-template .post-article-content {
  padding: 0px;
}

.post-template .post-article-content a,
.page-template .post-article-content a {
  font-weight: bold;
}

.post-template .post-article-content *,
.page-template .post-article-content * {
  min-width: 100%;
}

.post-template .post-article-content,
.post-template .post-article-content .kg-card-markdown,
.post-template .post-article-content .kg-post,
.page-template .post-article-content,
.page-template .post-article-content .kg-card-markdown,
.page-template .post-article-content .kg-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-template .post-article-content .kg-image-card,
.page-template .post-article-content .kg-image-card {
  margin-bottom: 25px;
  margin-top: 25px;
}

.post-template .post-article-content .kg-image-card figcaption,
.page-template .post-article-content .kg-image-card figcaption {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

footer.post-footer {
    margin: 4em 0;
}

.post-template .post-article-tags a,
.page-template .post-article-tags a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1A1A1A;
  padding: 6px;
  color: #FFF;
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  border: 2px solid #1A1A1A;
  transition: all .4s;
}

.post-template .post-article-tags a:hover,
.page-template .post-article-tags a:hover {
  background-color: #FFF;
  border: 2px solid #1A1A1A;
  color: #FFD32A;
  transition: all .4s;
}

/* POST ARTICLE SHARE */
.post-template .post-article-share a {
  font-size: 0.75em;
  display: block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  padding: 0.334em;
  margin: 0 0 0.334em 0.334em;
  float: right;
  color: #FFF;
}

.post-template .post-article-share a i {
  line-height: 24px;
  font-size: 16px;
}

.post-template .post-article-share a.fb {
    background-color: #3B5999;
}

.post-template .post-article-share a.tw {
    background-color: #55ACEE;
}

.post-template .post-article-share a.em {
    background-color: #DD4B39;
}

.post-template .post-article-share a.tg {
    background-color: #0088CC;
}

.post-template .post-article-share a.gs {
    background-color: #A22430;
}

.post-template .post-article-share a.dp {
    background-color: #333333;
}

.modal-content {
  background-color: #FFF;
  padding: 25px;
  border: 3px solid #1A1A1A;
  box-shadow: 4px 2px 5px #1A1A1A;
}
/*
.post-template .post-article-share .post-date {
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  font-size: 14px;
}*/

/* POST ARTICLE AUTHOR */
.post-template .post-article-author,
.page-template .post-article-author {
  border: 3px solid #1A1A1A;
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 15px 30px;
  position: relative;
  background-color: #FFF;
}

.post-template .post-article-author .card-author-title,
.page-template .post-article-author .card-author-title {
  background-color: #1A1A1A;
  color: #FFF;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  font-size: 12px;
  left: 50%;
  letter-spacing: 1px;
  line-height: 1.2;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
}

.post-template .post-article-author .card-author-info,
.page-template .post-article-author .card-author-info {
  min-height: 75px;
  padding: 30px 0;
  position: relative;
}

.post-template .post-article-author .card-author-info .author-avatar,
.page-template .post-article-author .card-author-info .author-avatar {
  border-radius: 5px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 75px;
}

.post-template .post-article-author .card-author-info .author-title a,
.page-template .post-article-author .card-author-info .author-title a {
  color: #1a1a1a;
}

.post-template .post-article-author .card-author-info .author-title,
.post-template .post-article-author .card-author-info .author-description,
.page-template .post-article-author .card-author-info .author-title,
.page-template .post-article-author .card-author-info .author-description {
  margin-bottom: 15px;
  font-size: 14px;
}

.post-template .post-article-author .card-author-info .author-title,
.post-template .post-article-author .card-author-info .author-links,
.page-template .post-article-author .card-author-info .author-title,
.page-template .post-article-author .card-author-info .author-links {
  letter-spacing: 1px;
}

.post-template .post-article-author .card-author-info .author-title,
.post-template .post-article-author .card-author-info .author-description,
.post-template .post-article-author .card-author-info .author-links,
.page-template .post-article-author .card-author-info .author-title,
.page-template .post-article-author .card-author-info .author-description,
.page-template .post-article-author .card-author-info .author-links {
  margin-left: 105px;
}

.post-template .post-article-author .card-author-info .author-links,
.page-template .post-article-author .card-author-info .author-links {
  color: #111;
  font-size: 10px;
  margin-bottom: 0;
}

.post-template .post-article-author .card-author-info .author-links span,
.page-template .post-article-author .card-author-info .author-links span {
  margin-right: 10px;
  white-space: nowrap;
}

.post-template .post-article-author .card-author-info .author-links span a,
.page-template .post-article-author .card-author-info .author-links span a {
  text-decoration: none;
  color: #1A1A1A;
}

/* POST ARTICLE COMMENTS */

.post-article-comments {
  margin-bottom: 60px;
}

.post-article-comments h2 {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
}

#isso-thread > h4 {
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  font-size: 20px;
  color: #1A1A1A;
  letter-spacing: 1px;
  border-bottom: 3px solid #1A1A1A;
  margin-bottom: 30px;
}


#isso-thread .form-wrapper {
  border: 3px solid #1A1A1A;
}

#isso-thread .textarea-wrapper .textarea {
  border: none;
  border-bottom: 3px solid  #1A1A1A;
  height: auto;
  border-radius: 0px;
}

#isso-thread .auth-section .input-wrapper,
#isso-thread .auth-section .post-action {
  margin: 0;
}

#isso-thread .auth-section .input-wrapper input {
  background-color: #FFF;
  color: #000;
  border: none;
  padding: 6px;
  display: inline-block;
  float: left;
  width: 33.3%;
}

#isso-thread .auth-section .input-wrapper input[type="email"] {
  border-left: 3px solid;
  border-right: 3px solid;
}

#isso-thread .auth-section .post-action input {
  background-color: #1A1A1A;
  border: none;
  width: 100%;
  margin: 0px;
  padding: 15px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 15px;
  cursor: pointer;
  transition: .5s all;
}

#isso-thread .auth-section .post-action input:hover {
  background-color: #171717;
  transition: .5s all;
}

#isso-root {
  margin-top: 25px;
  position: relative;
}

#isso-root .avatar {
  width: 60px;
  border: 2px solid #1A1A1A;
  height: 60px;
  float: left;
}

#isso-root .text-wrapper {
  position: relative;
  margin-left: 80px;
}

.isso-comment {
  margin-top: 30px;
  border: 3px solid #1A1A1A;
  padding: 15px;
}

.isso-comment-header .author {
  font-weight: bold;
  text-transform: uppercase;
  color: #1A1A1A;
}

.isso-comment-header .spacer {
  display: none;
}

.isso-comment-header .permalink {
  float: right;
  text-decoration: none;
  color: #AAA;
  text-transform: capitalize;
}

.isso-comment-footer a.edit {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  border: 3px solid #1A1A1A;
  padding: 3px 20px;
  letter-spacing: 2px;
  transition: .5s all;
}

.isso-comment-footer a.edit:hover {
  background-color: #1A1A1A;
  color: #FFF;
  transition: .5s all;
}

.isso-comment-footer a.delete {
    border: 3px solid #1A1A1A;
    border-radius: 0px;
    padding: 10px;
    margin-left: 6px;
    height: 28px;
}

/* PAGE */
.page-template .page-article-full {
  padding: 80px;
}

.page-template .hero-page .article-cover-arrow {
  position: absolute;
  bottom: 60px;
  z-index: 4;
  line-height: 1;
  cursor: pointer;
  padding-top: 60px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.page-template .hero-page .article-cover-arrow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #FFF;
  border-radius: 50px;
  transition: .5s all;
}

.page-template .hero-page .article-cover-arrow span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: arrow 2s infinite;
  animation: arrow 2s infinite;
}

/* SCROLL INFINITE */
.scroller-status p {
  color: #CCC;
  padding-top: 25px;
}

.scroller-status .infinite-scroll-request {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  color: #CCC;
}

/* PROGRESS BAR */
.progress-container {
  width: 100%;
  height: 2px;
  background: #FFF;
  position: absolute;
  bottom: 0px;
  z-index: 999999;
}

.progress-bar {
  height: 2px;
  background: #1A1A1A;
  width: 0%;
}

/* FOOTER */
.footer {
  background-color: #171717;
  padding: 80px;
  margin-top: 25px;
  background-size: cover;
  background-position: 50% center;
}

.footer,
.footer a,
.footer strong {
  color: #FFF;
  text-decoration: none;
}

.footer  p,
.footer-with-love p {
  margin-bottom: 0px;
  color: #FFF;
}

.footer-with-love {
  background-color: #1A1A1A;
  padding: 5px;
}

.footer-with-love .fa-heart {
  color: #C62828;
}

/* RESPONSIVE */
@media (max-width: 1450px) {
  /* HOME PAGE */
  .home-template .card-article figure h2 {
      font-size: 40px;
  }
}

@media (max-width: 1300px) {
    /* HOME PAGE */
    .home-template .card-article figure {
        height: 400px;
    }
    .home-template .card-article figure h2 {
        font-size: 34px;
    }
}

@media (max-width: 1200px) {
  /* HOME PAGE */
  .home-template .card-article figure h2 {
      font-size: 28px;
  }

  /* POST PAGE */
  .post-template .post-article {
    padding: 35px;
  }
  .post-template .post-article-full {
    padding: 0px;
  }
}

@media (max-width: 1084px) {

}

@media (max-width: 990px) {
  /* HOME PAGE */


  /* POST PAGE */
  .post-template .post-article {
    padding: 40px;
  }
  .post-template .post-article-title h1 {
    font-size: 40px;
  }
}

@media (max-width: 760px) {
  /* HOME PAGE */
  .home-template .hero-body {
    height: 100vh;
  }
  .home-hero,
  .author-hero,
  .tag-hero {
    margin-bottom: 0px;
  }
  .home-template .columns .column,
  .tag-template .columns .column,
  .author-template .columns .column {
    padding: 0px;
  }
  .home-template .columns:not(:last-child) {
    margin-bottom: 0px;
  }

  .home-template .card-article figure {
      margin: 0px;
  }

  /* POST PAGE AUTHOR */
  .post-template .card-author-info .author-avatar {
    display: none;
  }
  .post-template .post-article-author .card-author-info .author-title,
  .post-template .post-article-author .card-author-info .author-description,
  .post-template .post-article-author .card-author-info .author-links {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  /* POST ARTICLE */
  .post-article {
    padding: 40px;
  }
  .post-template .post-article-title h1 {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
    /* HOME PAGE */

    /* POST ARTICLE */
    .post-template .post-article {
        padding: 20px;
    }
    .post-template .post-article-title h1 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    /* HOME PAGE */


  /* POST PAGE */
  .post-template .post-article-full {
    padding: 0px;
  }
  .post-template .post-article {
    padding: 10px;
  }
  .post-template .post-article-title h1 {
    font-size: 28px;
  }
}
